#root {
    --rich-black: #071e22;
    --dark-rich-black: #05181b;
    --anti-flash-white: #f3f3f4;

    --french-grey: #bdbdbe;

    --light-blue: #718af4;
    --orange-gold: #eb6a2d;
    --light-green: #00ae77;
}

section.about {
    padding-top: 80px;
    padding-bottom: 160px;
    background: var(--dark-rich-black);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-top {
    padding: 0px 10vw 55px;
}

.about-top > h1 {
    font-size: 3rem;
    margin-bottom: 5px;
}

.about-top > h3 {
    font-size: 1.4rem;
    line-height: 150%;
}

.about-bottom {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid var(--french-grey);
    border-radius: 1px;
}

.about-bottom-item {
    padding: 50px;
    width: 275px;
    height: 275px;

    border: 1px solid var(--french-grey);
}

.about-bottom-item > h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.about-bottom-item > hr {
    position: relative;
    height: 8px;
    top: -30px;

    border:none;
    opacity: 40%;
    margin-bottom: 10px;
}

.about-bottom-item > ul {
    display: default;
    margin-top: 0px;
    line-height: 150%;

    list-style: none;
    padding-left: 5px;
}

.about-bottom-item > ul > li {
    background-image: url("../assets/Wheel_Icon.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px;
    
    padding-left: 25px;
    margin-bottom: 15px;
    font-size: 0.95rem;
}

.about-swd {
    background-image: url("../assets/Code_Icon.svg");
    background-repeat: no-repeat;
    background-position: 149px 175px;
    background-size: 225px;
    
    > hr {
        background-color: var(--light-blue);
        width: 180px;
        left: -47px;
    }
}

.about-qa {
    background-image: url("../assets/Fix_Icon.svg");
    background-repeat: no-repeat;
    background-position: 150px 190px;
    background-size: 225px;

    > hr {
        background-color: var(--orange-gold);

        width: 240px;
        left: -17px;
    }
}

.about-edu {
    background-image: url("../assets/UBC_Icon.svg");
    background-repeat: no-repeat;
    background-position: 165px 170px;
    background-size: 225px;

    > hr {
        background-color: var(--light-green);

        width: 140px;
        left: -67px;
    }
}

@media (max-width: 1180px) {
    .about-bottom {
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        border: 2px solid var(--french-grey);
        border-radius: 1px;
    }

    .about-bottom-item {
        padding: 40px;
        width: 240px;
        height: 240px;

        border: 1px solid var(--french-grey);
    }

    .about-bottom-item > h2 {
        margin-bottom: 5px;
        font-size: 1.1rem;
    }

    .about-bottom-item > hr {
        height: 8px;
        top: -15px;
    }

    .about-bottom-item > ul > li {
        font-size: 0.9rem;
    }

    .about-swd {
        > hr {
            width: 180px;
            left: -30px;
        }
    }
    
    .about-qa {
        > hr {
            background-color: var(--orange-gold);
    
            width: 180px;
            left: -30px;
        }
    }
    
    .about-edu {
        > hr {
            width: 100px;
            left: -70px;
        }
    }

}

@media (max-width: 768px) {
    .about-top > h1 {
        font-size: 2rem;
    }

    .about-top > h3 {
        font-size: 1rem;
    }
    

}