#root {
    --rich-black: #071e22;
    --dark-rich-black: #05181b;
    --anti-flash-white: #f3f3f4;
}

section.about {
    height: 928px;
    background: var(--dark-rich-black);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-top {
    padding: 0px 10vw 300px;
}

.about-top > h1 {
    font-size: 3rem;
    margin-bottom: 5px;
}

.about-top > h3 {
    font-size: 1.4rem;
    line-height: 150%;
}

