#root {
    --rich-black: #071e22;
    --dark-rich-black: #05181b;
    --anti-flash-white: #f3f3f4;

    --french-grey: #bdbdbe;

    --light-blue: #718af4;
}

section.about {
    height: 928px;
    background: var(--dark-rich-black);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-top {
    padding: 0px 10vw 100px;
}

.about-top > h1 {
    font-size: 3rem;
    margin-bottom: 5px;
}

.about-top > h3 {
    font-size: 1.4rem;
    line-height: 150%;
}

.about-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid var(--french-grey);
    border-radius: 1px;
}

.about-bottom-item {
    padding: 50px;
    width: 275px;
    height: 275px;

    border: 1px solid var(--french-grey);
}

.about-bottom-item > h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.about-bottom-item > hr {
    position: relative;
    width: 180px;
    height: 8px;
    top: -30px;
    left: -46px;

    border:none;
    background-color: var(--light-blue);
    opacity: 40%;
    margin-bottom: 10px;
}

.about-bottom-item > ul {
    display: default;
    margin-top: 0px;
    line-height: 150%;

    list-style: none;
    padding-left: 5px;
}

.about-bottom-item > ul > li {
    background-image: url("../assets/Wheel_Icon.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px;
    
    padding-left: 25px;
    margin-bottom: 15px;
}

.about-swd {
    background-image: url("../assets/Code_Icon.svg");
    background-repeat: no-repeat;
    background-position: 150px 190px;
    background-size: 225px;

}
