#root {
    --rich-black: #071e22;
    --dark-rich-black: #05181b;
    --anti-flash-white: #f3f3f4;

    --french-grey: #bdbdbe;

    --light-blue: #718af4;
    --orange-gold: #eb6a2d;
    --light-green: #00ae77;
}

section.experience {
    height: 928px;
    background: var(--dark-rich-black);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.experience > h1 {
    margin-top: 100px;
    font-size: 3rem;
}

.experience-content {
    width: 1000px;
}

.experience-content > details > summary {
    border: 2px solid var(--french-grey);
    border-radius: 1px;

    display: flex;
}

.work-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}