#root {
    --rich-black: #071e22;
    --dark-rich-black: #05181b;
    --anti-flash-white: #f3f3f4;

    --french-grey: #bdbdbe;

    --light-blue: #718af4;
    --orange-gold: #eb6a2d;
    --light-green: #00ae77;
}

section.experience {
    height: 928px;
    background: var(--dark-rich-black);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.experience > h1 {
    margin-top: 100px;
    font-size: 3rem;
}

.experience-content {
    width: 1000px;
}

.experience-content > details > summary {
    border: 2px solid var(--french-grey);
    border-radius: 1px;
    padding: 40px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &::after {
        content: url("../assets/Arrow_Icon.png");
        margin-left: 30px;
        padding: 8px;
        width: 30px;
        height: 30px;

        transform: scale(0.8) rotate(90deg);
        transform-origin: center;
        transition: transform 0.3s ease, border-color 0.2s ease-in-out;

        border: 2px solid transparent;
        border-radius: 50%;
    }

    &:hover {
        &::after {
            border-color: #bdbdbe7a;
        }

        box-shadow: 0px 0px 15px 2px #bdbdbe48;
    }

    [open] &::after {
        transform: scale(0.8) rotate(270deg);
    }
}


.work-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 220px;

    & > h4 {
        margin: 0;
        font-weight: 500;
        font-size: 0.9rem;
    }

    & > h2 {
        margin: 0;
        font-size: 1.7rem;
    }   
}

.work-description {
    display: flex;
    flex-direction: column;

    & > h2 {
        margin: 0 0 5px;
        font-weight: 550;
        text-align: right;
    }
}

.work-location {
    display: flex;
    justify-content: right;
    align-items: center;

    & > img {
        margin-right: 5px;
        width: 20px;
        height: 20px;
        opacity: 70%;
    }

    & > h4 {
        margin: 0;
        font-weight: 400;
        color: var(--french-grey);
    }
}

.work-content {
    border: 2px solid #4b4b6469;
    border-radius: 1px;
    padding: 40px 50px;
    margin-top: -2px;

    & > p {
        margin: 0;
        font-size: 1rem;
        font-weight: 350;
        line-height: 150%;
    }

    & > ul {
        display: default;
        list-style: none;
        padding-left: 5px;
    }

    & > ul > li {
        background-image: url("../assets/Wheel_Icon.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 12px;

        padding-left: 25px;
        margin-bottom: 15px;
        font-size: 0.9rem;
    }
}



.work-link {
    display: flex;
    width: 230px;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;

    text-decoration: none;

    & > img {
        width: 18px;
        height: 18px;
        opacity: 70%;
    }

    & > h4 {
        margin: 0;
        color: var(--french-grey);
        font-weight: 450;

        &:hover {
            text-decoration: underline;
        }
    }
}