#root {
    --rich-black: #071e22;
    --dark-rich-black: #05181b;
    --anti-flash-white: #f3f3f4;
    --french-grey: #bdbdbe;

    --light-blue: #718af4;
}

.header-container {
    background-color: red;
}

header {    
    position: fixed;
    z-index: 1;
    padding-block: 25px;

    width: 100dvw;
    display: flex;
    justify-content: center;
    gap: 50px;

    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

header > a {
    text-decoration: none;
    color: var(--anti-flash-white);
}


span.nav-item > h4 {
    display: inline;
    cursor: pointer;
}

span.nav-item > p {
    display: inline;
    cursor: pointer;
}

span.nav-item:hover {
    color: var(--light-blue);
}

@media (max-width: 768px) {
    header {    
        width: 100dvw;
        gap: 10px;
    }

    span.nav-item > h4 {
        font-size: 0.7rem;
    }
    
    span.nav-item > p {
        font-size: 0.7rem;
    }
}