#root {
    --rich-black: #071e22;
    --dark-rich-black: #05181b;
    --anti-flash-white: #f3f3f4;
}

section.home {
    height: 928px;
    background: rgb(20,17,15);
    background: linear-gradient(0deg, var(--dark-rich-black) 0%, var(--rich-black) 15%); 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content > h1 {
    margin: 0;
}

.home-content > h2 {
    margin: 0;
}