#root {
    --light-rich-black: #0b2b31;
    --rich-black: #071e22;
    --dark-rich-black: #05181b;
    --anti-flash-white: #f3f3f4;

    --french-grey: #bdbdbe;

    --light-blue: #718af4;
    --orange-gold: #eb6a2d;
    --light-green: #00ae77;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
}

.dialog-top {
    display: flex;
    justify-content: space-between;

    & > h1 {
        width: 60%;
        margin: 0;
    }
}

.project-github-link {
    display: flex;
    gap: 10px;

    & > img {
        width: 20px;
        height: 20px;
        opacity: 70%;
    }
    & > p {
        margin: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}