#root {
    --light-rich-black: #0b2b31;
    --rich-black: #071e22;
    --dark-rich-black: #05181b;
    --anti-flash-white: #f3f3f4;

    --french-grey: #bdbdbe;

    --light-blue: #718af4;
    --orange-gold: #eb6a2d;
    --light-green: #00ae77;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
}

.dialog-top {
    display: flex;
    justify-content: space-between;

    & > h1 {
        width: 60%;
        margin: 0px 0px 15px;
    }
}

.project-github-link {
    display: flex;
    gap: 10px;

    & > img {
        width: 20px;
        height: 20px;
        opacity: 70%;
    }
    & > p {
        margin: 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

.dialog-description {
    font-size: 0.9rem;
    font-weight: 350;
    width: 55%;
    margin: 15px 0px 25px;

    line-height: 170%;
}

.dialog-skills {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 12px;

    & > p {
        background-color: #163f46;
        margin: 0px 0px 0px;
        padding: 8px 16px;
        border-radius: 20px;
        font-size: 0.8rem;
        font-weight: 400;
    }
}    

/* display: flex;
gap: 12px;

& > h4 {
    background-color: #0a2a30;
    margin: 5px 0px 0px;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 550;
} */